#base {
    /* margin-top: 15px; */
    /* border: 1px solid rgb(215, 214, 218); */
    /* width: 35vw; */
    /* padding: 45px; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    border-radius: 10px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-image: linear-gradient(to bottom right, rgb(202, 202, 202), #f5f5f5 );
    /* box-shadow: 8px 10px 14px rgba(22, 15, 15, 0.25); */
}

button {
    border-radius: 50px;
    margin-bottom: 1.5rem;
    width: 7rem;
}

button:hover {
    transform: translate(2);
}


.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

.form-control.ng-touched.ng-valid {
    border: 1px solid green;
}
