.card {
    margin-top: 115px;
    /* border: 1px solid blue; */
    width: 35vw;
    height: 95%;
    padding: 10px 45px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-color: rgb(215, 214, 218);
    box-shadow: 8px 10px 14px rgba(22, 15, 15, 0.25);
}
label {
    font-size: .8rem;
    margin: 1px;
    font-weight: 700;
}
.form-control {
	min-height: 11px;
	box-shadow: none;
	border-color: rgb(215, 214, 218);
}
.form-control:focus {
	border-color: #00cb82;
}	

.card .mb-3 {
    margin-bottom: 5px !important;
}

button {
    border-radius: 50px;
    margin-bottom: 1.5rem;
    width: 7rem;
}
